#navcontainer{border:10px solid black;
				height: 
				30px;
				
				display: inline;}
nav{border:10px solid red;}

img{position:relative;
	width: 100%;height: 300px;}


.txt1{position: absolute;
top:120px;
right:334px;
color:white;}

.txt2{position: absolute;
top:160px;
right:300px;
color: white;}



